{
  "env": {
		"default": {
      "presets": [
        "react", 
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
      ],
		},
		"es": {
      "presets": [
        "react", 
        ["es2015",{ "modules": false }],
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
      ],
		}
	},
	"plugins": [
		"transform-decorators-legacy",
	],
  "presets": [
    "react", 
    ["es2015",{ "modules": false }],
    "stage-0"
  ]
}

