{
  "env": {
		"default": {
      "presets": [
        "react", 
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
      ],
		},
		"es": {
      "presets": [
        "react", 
        ["es2015",{ "modules": false }],
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
      ],
		},
    "production": {
      "presets": [
        "react", 
        ["es2015",{ "modules": false }],
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
        ["import", { "libraryName": "antd", "style": "css" }],
      ],
		},
    "development": {
      "presets": [
        "react", 
        ["es2015",{ "modules": false }],
        "stage-0"
      ],
      "plugins": [
        "transform-decorators-legacy",
        ["import", { "libraryName": "antd", "style": "css" }],
				"react-hot-loader/babel",
      ],
		},
	},
}

