.cp {
  cursor: pointer;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
/**begin ------antd 重写**/
.builder-con {
  .ant-time-picker,.ant-calendar-picker {
    width: 100%;
  }
  .ant-input-number {
    width: 100%;
  }
  .ant-select {
    min-width: 150px;
  }
  .ant-form-item {
    margin-bottom: 10px;
  }
  .ant-form-item-label {
    padding: 0;
  }
  .ant-btn-group > .ant-btn {
    padding: 4px 8px;
  }
}
/**end -----antd 重写**/
//common
.builder-con {
  .none-label-con {
    .ant-form-item-label {
      visibility: hidden;
    }
  }
  .builder-form-item-hidden .ant-form-item-label{
    display: none;
  }
  .builder-add-btn {
    width: 100%;
  }
  .array-item-con {
    display: flex;
    position: relative;
  }
  .array-item-left {
    flex: 1;
    margin-right: 10px;
  }
  .array-item-right {
    width: 88px;
  }
  .array-item-add-btn {
    float: right;
    width: 88px;
  }
  .array-item-has-label {
    .array-item-right > div{
      margin-top: 21px;
    }
  }
  .array-item-none-label {
    .array-item-right > div{
      margin-top: 2px;
    }
    .ant-form-item-label {
      display: none;
    }
  }
}

//begin -- configer css
.configer {
  .configer-add {
    float: right;
    margin-top: -2px;
    font-size: 22px;
    cursor: pointer;
  }
}
//end -- configer css


