.cp {
  cursor: pointer;
}
/**begin ------antd 重写**/
.builder-con {
  .ant-btn-group > .ant-btn {
    padding: 4px 8px;
  }
}
/**end -----antd 重写**/
//common
.builder-con {
  .none-label-con {
    .ant-form-item-label {
      visibility: hidden;
    }
  }
}
.builder-group-con {
  padding: 0px 2px;
}


//begin-------nested item container
.builder-group-item-con {
  margin-bottom: 10px;
}
.builder-group-item-con {
  .builder-group-btn-group {
    margin-top: -5px;
  }
}
//end-------nested item container

//begin-------simple item container
.builder-simple-item-con {
  .builder-simple-btn-group {
    position: absolute;
    bottom: 26px;
    left: 0px;
  }
}
.builder-flex-con {
  display: flex;
}
.builder-item-left {
  flex: 1;
}
.builder-item-right {
  position: relative;
  width: 117px;
  margin-left: 10px;
}
//end-------simple item container






